.App {
  text-align: center;
}

.btn {
  display: block;
  padding: 20px 30px;
  color: black;
  background-color: lightgreen;
  margin: 10px auto;
  cursor: pointer;
}

.btn :hover{
  background-color: salmon;
}

body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
