.h3 {
  text-transform: uppercase;
}

.person {
  display: block;
  padding: 20px 100px;
  border: 2px solid green;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  margin: 20px auto;
  width: 50%;
}
