.App {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

.h1{
  text-align: center;
  /* color: #535460; */
  color: black;
  width: 100vw;
  padding: 20px;
  background-color: #FBE7ED;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
}

.time{
  display: inline-block;
  text-align: center;
  border: 2px solid red;
  height: 170px;
  width: 250px;
  border-radius: 50%;
  padding-top: 70px;
}
